
<style type="text/css">
	#map_canvas { height: 500px; }
</style>
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<h3>Criação de projetos</h3>
Todas as pessoas devem sonhar com sua moradia, sua casa, apartamento. Mas melhor do que sonhar é poder concretizar isto. As dificuldades em fazer suas idéias virarem realidade não existem mais. Nós vamos te ajudar a concretizar seu sonho com a nova ferramenta do site Projetos Residenciais que fará com que você possa nos transmitir idéias do seu projeto.<br />
<strong>A entrada será cobrado R$1,00/m² da ÁREA DO TERRENO a ser estudada. O restante será cobrado R$8,00/m² da ÁREA CONSTRUÍDA menos o valor pago na entrada. Os valores serão acertados em depósito bancário quando entrarmos em contado por e-mail e/ou telefone.</strong>

<% form_for(@project_modification, 
:url => {:action => :criar},
:html => {:multipart => true, :id => "form_modification", :name => "form_modification"}) do |f|%>
<%= f.hidden_field :type_modification %>
<%=f.error_messages%>

<div class="form">
<table class="table2columns">
	<tr>
		<td class="full" colspan="2">
			<h3>Dados pessoais</h3>
			<label>Nome:<br /><%=f.text_field :name, :class => "input" %></label>
			<label>Email:<br /><%=f.text_field :email, :class => "input" %></label>
			<label>Telefone:<br /><%=f.text_field :phone, :class => "input auto", :size => 10 %></label>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<h3>Dados do terreno</h3>
			Indique aqui as informações sobre de onde você quer construir
		</td>
	</tr>
	<tr>
		<td class="column1">
			<label>CEP:<br /><%=f.text_field :cep, :class => "input auto", :size => 8, :maxlength=>8 %></label>
			<label>Endereço:<br /><%=f.text_field :address, :class => "input" %></label>
			<label>Número:<br /><%=f.text_field :house_number, :class => "input auto", :size => 5 %></label>
			<label>Bairro:<br /><%=f.text_field :neighborhood, :class => "input" %></label>
			<label>Cidade:<br /><%=f.text_field :city, :class => "input" %></label>
			<label>Estado:<br /><%=f.text_field :province, :class => "input auto", :size => 2 %></label>
			<label>Lateral direita:<br /><%=f.text_field :right_side, :class => "input auto", :size => 3 %></label>
			<label>Lateral esquerda:<br /><%=f.text_field :left_side, :class => "input auto", :size => 3 %></label>
			<label>Frente:<br /><%=f.text_field :front_side, :class => "input auto", :size => 3 %></label>
			<label>Atrás:<br /><%=f.text_field :back_side, :class => "input auto", :size => 3 %></label>
		</td>
		<td class="column2">
			<label>Como é o terreno?<br /><%=f.text_field :terrain_type, :class => "input" %></label>
			<label>Qual é localização do terreno?<br /><%=f.text_field :terrain_localization, :class => "input" %></label>
			<label>Os terrenos vizinhos estão construídos?<br /><%=f.select :have_buildings,yes_no_options %></label>
			<label>Existem prédios na vizinhança?<br /><%=f.select :have_neighborhood,yes_no_options %></label>
			<label>Chove muito?<br /><%=f.select :rains,yes_no_options %></label>
			<label>Como é o clima?<br /><%=f.select :climatic, climatic_options %></label>
			<label>Onde o sol nasce?<br /><%=f.select :orientation, orientation_options %></label>
		</td>
	</tr>
	<tr id="terreno" style="display:none">
		<td colspan="2">
			<h3>Localização do terreno no mapa</h3>
			<div id="map_canvas" style="width:650px !important; height:500px !important">
				<% if @project_modification.latitude.to_i != 0 && @project_modification.longitude.to_i != 0 %>
					<script type="text/javascript">
						start_map(<%=@project_modification.latitude%>, <%=@project_modification.longitude%>,true);
					</script>
				<% end %>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<h3>Mais informações</h3>
		</td>
	</tr>
	<tr>
		<td class="column1">
			<label>Quantas pessoas na casa:<br /><%=f.text_field :quantity_people, :class => "input auto", :size => 3 %></label>
			<label>Tem filhos?<br /><%=f.select :have_childrens,yes_no_options %></label>
			<label>Idade média dos filhos:<br /><%=f.text_field :age_childrens, :class => "input auto", :size => 3 %></label>
			<label>Quantos carros a família possui:<br /><%=f.text_field :quantity_cars, :class => "input auto", :size => 3 %></label>
			<label>Qual a profissão das pessoas da casa?<br /><%=f.text_field :activity, :class => "input" %></label>
			<label>Possui idosos na casa?<br /><%=f.select :aged,yes_no_options %></label>
			<label>Almoçam reunidos na mesa ou separados?<br /><%=f.select :lunch_way,yes_no_options %></label>
		</td>
		<td class="column2">
			<label>Reúne a família e parentes em casa?<br /><%=f.select :have_visits,yes_no_options %></label>
			<label>Assistem TV na sala todos juntos?<br /><%=f.select :tv_together,yes_no_options %></label>
			<label>Na casa é necessário ter um espaço para leitura?<br /><%=f.select :have_study_place,yes_no_options %></label>
			<label>Deve haver um local próprio para computador?<br /><%=f.select :have_pc_rooms,yes_no_options %></label>
			<label>Se possui crianças, gostaria de um quarto próprio pra elas?<br /><%=f.select :have_childrens_rooms,yes_no_options %></label>
			<label>Necessita de algum quarto no térreo?<br /><%=f.select :floor_room,yes_no_options %></label>
			<label>Quer colocar pontos comerciais no pavimento térreo?<br /><%=f.select :floor_for_others,yes_no_options %></label>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<h3>Deixando com a sua cara</h3>
			Cada projeto é único e para isto deixamos um espaço para que você possa fazer observações, suas expectativas, deixe sua imaginação correr solta. Queremos fazer parte deste sonho.
			<p>Escreva aqui suas observações:<br /><%=f.text_area :observations, :style => "width:99%" %></p>
			<p>Escreva aqui mudanças nos cômodos, alterações em geral:<br /><%=f.text_area :modifications_in_rooms, :style => "width:99%" %></p>
			
			<h3>Área multimídia</h3>

			
			<p>Fotos do imóvel existente:<br /><%=f.file_field :picture, :class => "input auto", :style => "border:0px", :size => 40 %></p><br />
			Com intuito de fazermos o melhor projeto da sua vida gostaríamos de receber imagens do local onde pretende construir. 
			Isto ajudará a saber como é realmente o terreno, vizinhos, ambiente e luminosidade. Tudo para deixar o projeto perfeito para você.
			<p>Envie aqui os arquivos da localização, prédios vizinhos, terreno. Mande vários arquivos compactando em um só (zip):<br /><%=f.file_field :localization, :class => "input auto", :style => "border:0px", :size => 40 %></p>
			
			<a href="#" class="link" onclick="$('#form_modification').submit()">Enviar</a>
		</td>
	</tr>
	<tr>
		<td colspan="2"><strong>A entrada será cobrado R$1,00/m² da ÁREA DO TERRENO a ser estudada. O restante será cobrado R$8,00/m² da ÁREA CONSTRUÍDA menos o valor pago na entrada. Os valores serão acertados em depósito bancário quando entrarmos em contado por e-mail e/ou telefone.</strong></td>
	</tr>
</table>
</div>
<% end %>