<% title "News Photo" %>

<p>
  <strong>Photo File Name:</strong>
  <%=h @news_photo.photo_file_name %>
</p>
<p>
  <strong>Photo File Size:</strong>
  <%=h @news_photo.photo_file_size %>
</p>
<p>
  <strong>Phot Content Type:</strong>
  <%=h @news_photo.phot_content_type %>
</p>
<p>
  <strong>Photo Updated At:</strong>
  <%=h @news_photo.photo_updated_at %>
</p>
<p>
  <strong>News:</strong>
  <%=h @news_photo.news %>
</p>

<p>
  <%= link_to "Edit", edit_news_photo_path(@news_photo) %> |
  <%= link_to "Destroy", @news_photo, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", news_photos_path %>
</p>
