<p>
  <strong>Nome:</strong>
  <%=h @comment.name %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @comment.email %>
</p>
<p>
  <strong>Mensagem:</strong>
  <%=h @comment.message %>
</p>
<p>
  <strong>Classificação:</strong>
  <%=opinions.find{|t| t.last == @comment.opinion}.first rescue 'Nenhuma' %>
</p>
<p>
  <strong>Ativo?</strong>
  <%=bool_to_str @comment.active %>
  <% if not @comment.active %>
  <br />
  <%=link_to 'Publicar', publish_comment_path(@comment)%>
  <% end %>
</p>

<% unless @comment_response.new_record?%>
<hr />
<h3>Resposta</h3>
<p>
  <strong>Nome:</strong>
  <%=h @comment_response.name %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @comment_response.email %>
</p>
<p>
  <strong>Mensagem:</strong>
  <%=h @comment_response.message %>
</p>
<% end %>