<% form_for(@comment_response) do |f|%>
<%=f.hidden_field :comment_id%>
<%=f.hidden_field :product_id%>
<%=f.error_messages%>
<p>
  <%= f.label :name,"Nome" %>
  <%= f.text_field :name,:value => "Administração", :class => "text-input medium-input" %>
</p>
<p>
  <%= f.label :email %>
  <%= f.text_field :email,:value => "niltonrezende@hotmail.com", :class => "text-input  medium-input" %>
</p>
<p>
  <%= f.label :message, "Mensagem" %>
  <%= f.text_area :message, :rows => 5, :class => "wysiwyg" %>
</p>

<p>
  <%=f.submit "Responder", :class => "button", :name => nil%>
</p>

<% end %>
