<h3>Informações de Pagamento</h3>

Preencha com seus dados pessoais para realizar a compra:<br />
<% form_tag PagSeguro.gateway_url, :class => "form", :id => "payment_form", "accept-charset" => "ISO-8859-1" do %>
<%= hidden_field_tag "email_cobranca", PagSeguro.config["email"] %>
<%= hidden_field_tag "tipo", "CP" %>
<%= hidden_field_tag "moeda", "BRL" %>
<%= hidden_field_tag "ref_transacao", @ps_order.id %>
<%= hidden_field_tag "tipo_frete", @ps_order.shipping_type if @ps_order.shipping_type %>

<% @ps_order.products.each_with_index do |product, i| %>
	<% i += 1 %>
	<%= hidden_field_tag "item_quant_#{i}", product[:quantity] %>
	<%= hidden_field_tag "item_id_#{i}", product[:id] %>
	<%= hidden_field_tag "item_descr_#{i}", product[:description] %>
	<%= hidden_field_tag "item_valor_#{i}", product[:price] %>
	<%= hidden_field_tag "item_peso_#{i}", product[:weight].to_i %>
	<%= hidden_field_tag "item_frete_#{i}", product[:shipping].to_i %>
	
<% end %>
<div class="page1">
	<div class="col-1 col-pad">
		<h3>Dados de entrega</h3>
		<label>CEP:<br /><%=text_field_tag("cliente_cep", @cart.customer_cep,:class => "input auto", :size => 8, :maxlength => 8, :onblur => "get_endereco(this.value)")%></label>
		<label>Endereço:<br /><%=text_field_tag("cliente_end", @cart.customer_address, :class => "input")%></label>
		<label>Número:<br /><%=text_field_tag("cliente_num", @cart.customer_address_number,:class => "input auto", :size => 4, :maxlength => 5)%></label>
		<label>Complemento:<br /><%=text_field_tag("cliente_compl", @cart.customer_address_complement, :class => "input")%></label>
		<label>Bairro:<br /><%=text_field_tag("cliente_bairro", @cart.customer_address_neighborhood, :class => "input")%></label>
		<label>Cidade:<br /><%=text_field_tag("cliente_cidade", @cart.customer_address_city, :class => "input")%></label>
		<label>Estado:<br /><%=text_field_tag("cliente_uf", @cart.customer_address_state, :class => "input auto", :size => 2)%></label>
	</div>
	<div class="col-3">
		<h3>Dados pessoais</h3>
		<label>Seu nome:<br /><%=text_field_tag("cliente_nome", @cart.customer,:class => "input", :readonly => true )%></label>
		<label>Email:<br /><%=text_field_tag("cliente_email", @cart.email,:class => "input", :readonly => true)%></label>
		<label>Telefone:<br /><%=text_field_tag("cliente_ddd", @cart.phone_prefix,:class => "input auto", :size => 2)%> - 
		<%=text_field_tag("cliente_tel", @cart.phone,:class => "input auto", :size => 10)%></label>
		
		<a href="javascript:;" class="link" onclick="update_information_and_send()">Enviar</a>		
		
	</div>
<div>
  
  <script type="text/javascript" charset="utf-8">
    function update_information_and_send() {
      var name = $("#cliente_nome").val();
      var email = $("#cliente_email").val();
      var phone_prefix = $("#cliente_ddd").val();
      var phone = $("#cliente_tel").val();
      if(name == "" || email == ""){
        alert("Preencha com seu nome e email");
        if(name == "")
          $("#cliente_nome").focus();
        else
          $("#cliente_email").focus();
        return false;
      }
  
      $("#payment_form").submit();
    }
  </script>

<% end %>
