
  <p>
    <%= form.label :product_id %>
    <%= form.collection_select :product_id, Product.all, :id, :name %>
  </p>
  <p>
    <%= form.label :cost_id %>
    <%= form.collection_select :cost_id, Cost.all, :id, :name %>
  </p>
  <p>
    <%= form.label :price %>
    <%= form.text_field :price %>
  </p>
  <p>
    <%= form.label :state %>
    <%= form.select :state, states  %>
  </p>
  <p><%= form.submit "Salvar" %></p>