<div class="content-box">
  <div class="content-box-header">

    <h3>Gerenciamento de Custos de obras</h3>

    <div class="clear"></div>

  </div>

  <div class="content-box-content">

    <div style="display: block;" class="tab-content default-tab" id="tab1">
        <table>

          <thead>
            <tr>
              <td colspan="10">
                <div class="bulk-actions">
                  <%= link_to "Novo custo", new_build_cost_path, :class => "button" %>
                </div>
              </td>
            </tr>
            <tr>
              <th>Produto</th>
							<th>Custo</th>
							<th>Preço</th>
							<th>Estado</th>
              <th>Ações</th>
            </tr>

          </thead>

          <tfoot>
            <tr>
              <td colspan="10">
                <div class="bulk-actions align-left">
                  <%= link_to "Novo custo", new_build_cost_path, :class => "button" %>
                </div>
                <div class="clear"></div>
              </td>
            </tr>
          </tfoot>

          <tbody>
            <% @build_costs.each do |build_cost| -%>
              <tr class="<%= cycle("","alt-row") %>">
								<td><%=h build_cost.product %></td>
								<td><%=h build_cost.cost %></td>
								<td><%=h build_cost.price %></td>
								<td><%=h build_cost.state%></td>
                <td nowrap="nowrap">
                    <%= edit_icon(edit_build_cost_path(build_cost)) %>
                    <%= delete_icon(build_cost) %>
                </td>
              </tr>
            <% end -%>
          </tbody>

        </table>

    </div> <!-- End #tab1 -->

  </div>

</div>