<% title "Custo de obra" %>

<p>
  <strong>Produto:</strong>
  <%=h @build_cost.product %>
</p>
<p>
  <strong>Custo:</strong>
  <%=h @build_cost.cost %>
</p>
<p>
  <strong>Valor:</strong>
  <%=h @build_cost.price %>
</p>
<p>
  <strong>Estado:</strong>
  <%=h @build_cost.state %>
</p>

<p>
  <%= link_to "Editar", edit_build_cost_path(@build_cost) %> |
  <%= link_to "Remover", @build_cost, :confirm => 'Tem certeza disto?', :method => :delete %> |
  <%= link_to "Voltar para lista", build_costs_path %>
</p>
