<%= javascript_include_tag "jquery.jcarousel" %>
<%= stylesheet_link_tag "jquery.jcarousel" %>

<%title(@product.name)%>


<h3>Projeto: <strong><%=@product.name%></strong></h3>
<table class="table2columns">
	<tr>
		<td class="column1"><%=image_tag @product.image(:normal)%></td>
		<td class="column2">
			<strong>Descrição</strong>:
	    <%=@product.description%><br />

	    <em>veja também</em>:
	    <strong><%=category_names(@product)%></strong>
		</td>
	</tr>
	<tr>
		<td class="column1">
			<%form_tag({:controller => :carrinho, :action => :adicionar},{:id => "form_price"}) do%>
			<%=hidden_field_tag "product_value_ids[#{@product.price.id}]",@product.price.id%>
			<%=hidden_field_tag "quantitys[#{@product.price.id}]",0%>
			<%=hidden_field_tag "product_price",@product.price.description%>
	    <h3>Valor de compra</h3>
			
			<div class="list-prices">
	      <%=link_to_function image_tag("btn-comprar.jpg"), "$('#form_price').submit()"%>

				<strong><span class="price" id="amount"><%=number_to_currency @product.price.description%></span></strong>
	    </div>
			Quantidade de cópias <%=select_tag "product_number_copy",options_for_select((0..5).to_a),
				:onchange => "$('#quantitys_#{@product.price.id}').val(this.value);calc_total_product(#{CopyFee.first.price})", :style => "margin-bottom:5px"%>
			<p><strong>Mais opções deste projeto:</strong></p>
	    <%@product.product_values_optionals.each do |product_value|%>
	      <div class="list-prices">
					<%=hidden_field_tag "values[#{product_value.id}]",product_value.description%>

	        <%=check_box_tag "product_value_ids[#{product_value.id}]",product_value.id,false, :class => "optionals",
					:onclick => "change_product_value_price(#{CopyFee.first.price},#{product_value.id},#{product_value.description},$('#quantitys_#{product_value.id}').val())"%>
					Cópias
					<%=select_tag "quantitys[#{product_value.id}]",options_for_select((0..5).to_a),
						:onchange => "change_product_value_price(#{CopyFee.first.price},#{product_value.id},#{product_value.description},this.value)"%>

	        <strong><%=product_value.product_type.name%>: +<span id="price_<%=product_value.id%>"><%=number_to_currency product_value.description%></span></strong>				
	      </div>
	    <% end%>
			<p><strong>Cada cópia adicionará o valor de <%=number_to_currency CopyFee.first.price%></strong>
			</p>
			<%end%>
		</td>
		<td class="column2">
			<h3>Custos de obra</h3>
			Selecione o estado: <%=select_tag :state, options_for_select([""]+states), :include_blank => true%>
			<div id="build_costs">
				
			</div>
		</td>
	</tr>
	<tr>
	  <% if @product.clear_attributes.count > 1 %>
		<td class="column1">
			<h3>Mais informações</h3>
	    <ul>
	      <%@product.clear_attributes.each do |product_attribute|%>
	        <li class="price"><strong><%=product_attribute.attribute.name%>:</strong> <%=product_attribute.description%></li>
	      <% end%>
	    </ul>
		</td>
		<% end %>
		<% if @product.photos.count > 1 %>
	  <td class="column2">
	    <h3>Mais fotos</h3>
	    <ul class="photos">
	      <% @product.photos.each do |p|%>
	        <li><%=link_to image_tag(p.photo.url(:thumb)),p.photo.url(:big), :rel => "lightbox" %></li>
	      <% end %>
	    </ul>
	  </td>
	  <% end %>
	</tr>
	<tr>
		<td colspan="2">
		  <h3>Modificar projeto</h3>
			<p>Se você acha que este <strong>projeto</strong> é quase o que está precisando, talvez você precise alterá-lo, nos passar detalhes do que gostaria de alterar. 
				Ou melhor, nos passar informações do seu terreno, de onde será construído. Se esta é a sua necessidade 
				<%=link_to "clique aqui", :controller => :modificar_projeto, :action => :novo, :projeto => @product.public_id %></p>
		</td>
	</tr>
	<tr>
    <td colspan="2" class="comentarios">
      <% if @product.comments_awnsers.size > 0 %>
      <h3>Comentários sobre este projeto</h3>
      <% @product.comments_awnsers.each do |comment| %>
        <div class="comentario">        
          <p>Enviado por <strong><%=comment.name%></strong> - <span class="horario"><%=I18n.l(comment.created_at)%></span></p>
          <% if not comment.opinion.blank? %>
          <p>Classificação: <strong class="opiniao_<%=comment.opinion%>"><%=opinions.find{|t| t.last == comment.opinion}.first rescue '' %></strong></p>
          <% end %>
          <span class="pre">"<%= comment.message%>"</span>
          <% if comment.comment %>
          <hr />
          <div class="resposta">
            <h5>Resposta</h5>
            <p class="horario"><%=I18n.l(comment.comment.created_at)%></p>
            <span class="pre">"<%= comment.comment.message%>"</span>
          </div>
          <% end %>
        </div>
      <% end %>
      <% end %>
      

      <% form_for @comment, :url => salvar_comentario_projeto_path(@product), :html => {:class =>"form form_comentario"} do |f|%>
      <h3 style="margin-bottom:0;padding-bottom:0">De sua opinião, sugestão ou faça uma pergunta sobre este projeto</h3>
      <p><label>Nome:<br /><%=f.text_field :name, :class =>'input', :style => "width:400px"%></label></p>
      <p><label>Email (não será exibido):<br /><%=f.text_field :email, :class =>'input', :style => "width:400px"%></label></p>
      <p><label>Classificação:<br /><%=f.select :opinion, opinions, {:include_blank => 'Nenhuma'}, :style => "width:400px"%></label></p>
      <p><label style="height:20px">Mensagem:</label><%=f.text_area :message, :rows => 20, :style => "width:400px" %></p>
      <p><a href="#" class="link" onclick="$('.form_comentario').submit()">Enviar</a></p>
      <% end %>
      
      
    </td>
	</tr>
</table>

<script type="text/javascript" charset="utf-8">
	$("#state").change(function(){

		$.get("<%=buscar_custos_projetos_path%>", {state:$(this).val(),product_id:<%=@product.id%>},function(data){
			$("#build_costs").html(data);
		});
	});
</script>