#main { width:984px; margin:0 auto; text-align:left;}

#header {height:221px;}

#footer { height:116px;}

.col-menu, .col-webdoor, .col-1, .col-2, .col-3, .col-4 {float:left;}
.container {width:100%; overflow:hidden;}
.container1 {width:100%;}
.col-menu{
  width:172px;
}
.col-pad-small {padding-right:10px;}


/* ============================= pagecentral ===========================*/
.page_all .col-1 {width:219px;}
.page_all .col-2 {width:217px;}
.page_all .col-3 {width:469px;}
.page_all .col-4 {width:459px;}
.page_all .col-webdoor {width:459px}
/* ============================= page1 ===========================*/
.page1 .col-1 {width:256px;}
.page1 .col-2 {width:300px;}
.page1 .col-3 {width:504px;}
.page1 .col-4 {width:405px;}
/* ============================= page2 ===========================*/
.page2 .col-1 {width:219px;}
.page2 .col-2 {width:217px;}
.page2 .col-3 {width:469px;}
.page2 .col-4 {width:459px;}
/* ============================= page3 ===========================*/
.page3 .col-1 {width:219px;}
.page3 .col-2 {width:217px;}
.page3 .col-3 {width:380px;}
.page3 .col-4 {width:459px;}
/* ============================= page4 ===========================*/
.page4 .col-1 {width:719px;}
.page4 .col-2 {width:210px;}
.page4 .col-3 {width:158px;}
/* ============================= page5 ===========================*/
.page5 .col-1 {width:330px;}
.page5 .col-2 {width:440px;}
.page5 .col-3 {width:770px;}
.page5 .col-4 {width:465px;}
/* ============================= page6 ===========================*/
.page6 .col-1 {width:469px;}
.page6 .col-2 {width:465px;}
.page6 .col-3 {width:260px;}
/* ============================= page7 ===========================*/
.page7 .col-1 {width:219px;}
.page7 .col-2 {width:217px;}
.page7 .col-3 {width:469px;}
.page7 .col-4 {width:465px;}