@charset "utf-8";
/* CSS Document */

/* CSS Reset */

html, body, div, span, applet, object, iframe, table, caption, 
tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins, 
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend { 
    vertical-align: baseline; 
    font-family: "Trebuchet MS",Georgia, Arial, Helvetica, sans-serif; 
	font-weight: normal; 
    font-style: inherit; 
    font-size: 12px;
	color:#666;
    outline: 0; 
    padding: 0; 
    margin: 0; 
    border: 0; 
} 
:focus { 
    outline: 0; 
} 
body { 
    background: white; 
    line-height: 1; 
    color: black; 
} 
ol, ul { 
    list-style: none; 
} 
table { 
    border-collapse: separate; 
    border-spacing: 0; 
} 
caption, th, td { 
    font-weight: normal; 
    text-align: left; 
} 
blockquote:before, blockquote:after, q:before, q:after { 
    content: ""; 
} 
blockquote, q { 
    quotes: "" ""; 
}  

/* Global */

.orange {
	color:#517261;
}
a:link {
	color:#517261;
	text-decoration:none;
}
a:visited {
	color:#517261;
	text-decoration:none;
}
a:hover {
	color:#F60;
	text-decoration:underline;
}

/* Estrutura */

body {
	background: url(../images/login_header_back.jpg) repeat-x #F9FAF5;
}
#info {
	text-align:center;
	margin-top:12px;
}
#login {
	background: url(../images/back_login.jpg) no-repeat;
	width:293px;
	height:302px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-170px;
	margin-left:-150px;
}
#form-wrap {
	margin:85px 0 0 35px;
}
#login label {
	font-family: "Trebuchet MS",Georgia, Arial, Helvetica, sans-serif; 
	font-size:16px;
	color:#FFF;
}
#login input {
	border:1px solid #D3DED8;
	background:#EFFFF6;
	width:213px;
	border:0px;
	padding:5px;
	font-size:20px;
	margin:3px 0 8px 0;
}
#login .btn-entrar {
	background:url(../images/btn_login_entrar.gif) no-repeat;
	width:86px;
	height:34px;
	border:0px;
	color:#FFF;
	font-family: "Trebuchet MS",Georgia, Arial, Helvetica, sans-serif; 
	font-size:20px;
	padding:0px;
	display:block;
	margin-left:137px;
	border:0;
}
#login .btn-entrar:hover {
	background:url(../images/btn_login_entrar.gif) no-repeat 0 -34px;
}
#login p {
	margin-top:70px;
	text-align:center;
}