<h1 id="uma_mensagem_foi_enviada_pelo_site">Existe um novo comentário para o projeto "<%=h @product_name%>"</h1>
<p>Nome: <strong><%=h @name%></strong></p>
<p>Email: <strong><%=h @email%></strong></p>
<p>Mensagem: <strong><%=h @message%></strong></p>
<p>Para responder <%=link_to "clique aqui", 'http://www.projetosresidenciais.com.br/login'%> e entre na área de comentários de produtos</p>
