
<p>
	<%=form.label :name%>
	<%=form.text_field :name,:class => "text-input medium-input"%>
</p>
<p>
	<%=form.label :email%>
	<%=form.text_field :email,:class => "text-input medium-input" %>
</p>
<p>
	<%=form.label :cpf%>
	<%=form.text_field :cpf,:class => "text-input small-input", :maxlength => 14%>
</p>
<p>
	<%=form.label :login%>
	<%=form.text_field :login,:class => "text-input small-input"%>
</p>
<p>
	<%=form.label :password %>
	<%=form.password_field :password,:class => "text-input small-input" %>
</p>
<p>
	<%=form.label :password_confirmation %>
	<%=form.password_field :password_confirmation,:class => "text-input small-input" %>
</p>
<p>

	<%=form.submit "Salvar", :class => "button", :name => nil%> | <%=link_to "Voltar", users_path%>
</p>
