<% title "News" %>

<p>
  <strong>Título:</strong>
  <%=h @news.title %>
</p>
<p>
  <strong>Resumo:</strong>
  <%=h @news.resume %>
</p>
<p>
  <strong>Texto completo:</strong>
	<pre>
		<%= @news.content %>
	</pre>
</p>
<p>
	<strong>Fotos:</strong>
	<ul>
	<% @news.news_photos.each	do |news_photo| %>
		<li><%=image_tag(news_photo.photo.url(:list))%></li>
	<%end%>
	</ul>
</p>

<p>
  <%= link_to "Editar", edit_news_path(@news) %> |
  <%= link_to "Apagar", @news, :confirm => 'Tem certeza disto?', :method => :delete %> |
  <%= link_to "Voltar para lista", news_index_path %>
</p>
