
<div class="content-box">
	<div class="content-box-header">

		<h3>Pedido <%=@cart.id%> (<%=@cart.customer%> - <%=@cart.email%>) </h3>
		<ul class="content-box-tabs">
			<li><%=link_to "Dados gerais", "#tab1", :class => "default-tab" %></li>
			<li><%=link_to "Itens", "#tab2" %></li>
		</ul>

		<div class="clear"></div>

	</div>

	<div class="content-box-content">
		<div class="tab-content default-tab" id="tab1">
			<fieldset>
				<% form_for @cart do |f| %>
				<h3>Informações do cliente</h3>
			  <p>
					<strong>Cliente:</strong>
					<%=@cart.customer%>
				</p>
				<p>
					<strong>E-mail:</strong>
					<%=@cart.email%>
				</p>
				<p>
					<strong>Telefone:</strong>
					(<%=@cart.phone_prefix%>)-<%=@cart.phone%>
				</p>
				<hr />
				<h3>Endereço</h3>
			  <p>
					<strong>Endereço:</strong>
					<%=@cart.customer_address%>, <%= @cart.customer_address_number %>
				</p>
				<p>
					<strong>Complemento:</strong>
					<%=@cart.customer_address_complement%>
				</p>
				<p>
					<strong>Bairro:</strong>
					<%=@cart.customer_address_neighborhood%>
				</p>
				<p>
					<strong>Cidade:</strong>
					<%=@cart.customer_address_city%>
				</p>
				<p>
					<strong>Estado:</strong>
					<%=@cart.customer_address_state%>
				</p>
				<hr />
				<h3>Informações do pedido</h3>
				<p>
					<strong>Data da criação:</strong>
					<%=I18n.localize @cart.created_at, :format => :short %>
				</p>

				<p>
					<strong>Data da última atualização:</strong>
					<%=I18n.localize @cart.updated_at, :format => :short %>
				</p>

				<p>
					<strong>Quantidade de Itens:</strong>
					<%=@cart.quantity%>
				</p>
				<p>
					<strong>Taxa de envio:</strong>
					<%=number_to_currency TaxFee.first.price%>
				</p>
				<p>
					<strong>Valor total:</strong>
					<%=number_to_currency @cart.amount%>
				</p>
				<p>
					<strong>Situação:</strong>
					<%=f.select :status, status_options %>
				</p>

				<p>
  				<%=f.submit "Salvar", :class => "button", :name => nil%> |
					<%= link_to "Apagar", @cart, :confirm => 'Deseja realmente apagar?', :method => :delete %> |
					<%= link_to "Voltar a lista", carts_path %>
				</p>

				<% end -%>


			</fieldset>

			<div class="clear"></div><!-- End .clear -->


		</div>

		<div class="tab-content" id="tab2">
			<fieldset>
				<table>

					<thead>
						<tr>
							<th>Produto</th>
							<th>Qtd</th>
							<th>Qtd de cópias</th>
							<th>Valor unitário da cópia</th>
							<th>Valor unitário</th>
							<th>Valor total parcial</th>
						</tr>

					</thead>


					<tbody>
						<% @cart.cart_items.each do |t| -%>
						<tr class="<%= cycle("","alt-row") %>">
							<td><%=t.product.name%> - <%=t.product_value.product_type.name%></td>
							<td><%=t.quantity%></td>
							<td><%=t.number_copys%></td>
							<td><%=number_to_currency CopyFee.first.price%></td>
							<td><%=number_to_currency t.price%></td>
							<td><%=number_to_currency t.amount%></td>
						</tr>
						<% end -%>
						<tr>
						  <td colspan="5"><strong>Taxa de envio</strong></td>
						  <td><%=number_to_currency TaxFee.first.price%></td>
						</tr>
						<tr>
						  <td colspan="5"><strong>Total</strong></td>
						  <td><%=number_to_currency @cart.amount%></td>
						</tr>
					</tbody>

				</table>

				<p>
					<%= link_to "Apagar", @cart, :confirm => 'Are you sure?', :method => :delete %> |
					<%= link_to "Voltar a lista", carts_path %>
				</p>

			</fieldset>

			<div class="clear"></div><!-- End .clear -->


		</div>

	</div>
</div>