<% form_for @how_to do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :question %>
    <%= f.text_field :question, :class => "text-input medium-input" %>
  </p>
  <p>
    <%= f.label :reply %>
    <%= f.text_area :reply, :rows => 5, :class => "wysiwyg" %>
  </p>
  <p>
	  <%=f.submit "Salvar", :class => "button", :name => nil%> | <%=link_to "Voltar", how_tos_path%>
	</p>
<% end %>
