
<%= form.error_messages %>
<p>
  <%= form.label :product_id %>
  <%= form.collection_select :product_id, Product.all,:id,:name %>
</p>
<p>
  <%= form.label :attribute_id %>
  <%= form.collection_select :attribute_id, Attribute.all,:id,:name %>
</p>
<p>
  <%= form.label :description %>
  <%= form.text_field :description %>
</p>
<p>
  <%=form.submit "Salvar", :class => "button", :name => nil%> | <%=link_to "Voltar", product_attributes_path%>
</p>
