<p>
  <%= form.label :product_id %>
  <%= form.collection_select :product_id, Product.all, :id, :name %>
</p>
<p>
  <%= form.label :photo3d %>
  <%= form.file_field :photo3d %>
</p>

<% unless @photo3d.photo3d_file_name.blank? %>
<p>
  <label>Arquivo atual</label>
  <%=image_tag @photo3d.photo3d.url(:thumb)%>
</p>
<% end %>

<p>
  <%=form.submit "Salvar", :class => "button", :name => nil%> | <%=link_to "Voltar", photo3ds_path%>
</p>
