<% title "Payment" %>

<p>
  <strong>Cart:</strong>
  <%=h @payment.cart %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @payment.email %>
</p>
<p>
  <strong>Email2:</strong>
  <%=h @payment.email2 %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @payment.name %>
</p>
<p>
  <strong>Observations:</strong>
  <%=h @payment.observations %>
</p>
<p>
  <strong>Phone:</strong>
  <%=h @payment.phone %>
</p>
<p>
  <strong>Celphone:</strong>
  <%=h @payment.celphone %>
</p>
<p>
  <strong>Address:</strong>
  <%=h @payment.address %>
</p>
<p>
  <strong>State:</strong>
  <%=h @payment.state %>
</p>
<p>
  <strong>Complement:</strong>
  <%=h @payment.complement %>
</p>
<p>
  <strong>Status:</strong>
  <%=h @payment.status %>
</p>
<p>
  <strong>Service:</strong>
  <%=h @payment.service_id %>
</p>
<p>
  <strong>Payment Method:</strong>
  <%=h @payment.payment_method %>
</p>

<p>
  <%= link_to "Edit", edit_payment_path(@payment) %> |
  <%= link_to "Destroy", @payment, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", payments_path %>
</p>
