<p>
  <%= form.label :product_id %>
  <%= form.collection_select :product_id, Product.all, :id, :name %>
</p>
<p>
  <%= form.label :photo %>
  <%= form.file_field :photo %>
</p>

<% unless @photo.photo_file_name.blank? %>
<p>
  <label>Arquivo atual</label>
  <%=image_tag @photo.photo.url(:thumb)%>
</p>
<% end %>

<p>
  <%=form.submit "Salvar", :class => "button", :name => nil%> | <%=link_to "Voltar", photos_path%>
</p>
