<div class="photo3d">
<% fields_for "product[photo3d_attributes][]", photo3d do |p| %>
  <p>
    <%= p.file_field :photo3d, :index => nil, :class => "medio" %>
    <%= link_to_function "Apagar", "remove_field($(this), ('.photo3d'))" %>
  </p>
<% end %>
</div>