<div class="product_value">
<% fields_for "product[product_value_attributes][]", product_value do |p| %>
  <p>
		<%= p.collection_select :product_type_id, ProductType.all,:id,:name%>
		valor em R$
    <%= p.text_field :description, :index => nil, :class => "pequeno" %>
    <%= link_to_function "Apagar", "remove_field($(this), ('.product_value'))" %>
  </p>
<% end %>
</div>