<div class="product_attribute">
<% fields_for "product[product_attribute_attributes][]", product_attribute do |p| %>
  <p>
		<%= p.collection_select :attribute_id, Attribute.all,:id,:name%>
    <%= p.text_field :description, :index => nil, :class => "medio" %>
    <%= link_to_function "Apagar", "remove_field($(this), ('.product_attribute'))" %>
  </p>
<% end %>
</div>